@forward 'element-plus/theme-chalk/src/common/var.scss'with ($colors: ('primary': ('base': rgb(0, 75, 128), )));
@use "element-plus/theme-chalk/src/index.scss"as *;
p {
    margin: 0
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0
}